
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans','sans-serif';
}

#Content-Photo{
    z-index: 0;
    background-image: url('../images/background photo.jpeg');
    background-size: cover;
    background-position:center
}

#Content-Photo-Text{
    padding: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Content-Photo-Text p{
    font-size: 7rem;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke: 0.21rem;
    -webkit-text-stroke-color: #000;
}


@media screen and (min-width:768px) and (max-width:1023px) {
    #Content-Photo-Text p
    {
        font-size: 6rem;
        -webkit-text-stroke: 0.19rem;
        -webkit-text-stroke-color: #000;
    }

}

@media screen and (max-width:767px){


    #Content-Photo-Text p
    {
        font-size: 3.9rem;
        -webkit-text-stroke: 0.17rem;
        -webkit-text-stroke-color: #000;
    }
}