*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans','sans-serif';
}

body{
    background-color: #353535;
}

header{
    background-color: #1C1D21;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav{
    padding: 1rem;
    color: #fff;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

#Company-Name{
    font-weight: bolder;
}

nav .Nav-Components{
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}

nav .Nav-Components:hover{
    color: orange;
}

.Nav-Button{
    display: none;
}

.Menu{
    display: none;
    position:absolute;
    right: 2rem;
    margin-top: 1rem;
    width: 22rem;
    background:rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Menu li{
    padding:0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Menu a{
    color: #fff;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    font-size: 4rem;
}

.Menu a:hover{
    color: orange;
}

@media screen and (max-width:1024px){

    nav .Nav-Components{
        display: none;
    }

    .Menu{

    }

    .Nav-Button{
        display:block;
    }
}